<div class="container default-container">
  <div class="row col-sm-4 mx-auto pt-5">
    <h1 class="lead fw-bold text-center mt-2 pb-4">View booking status</h1>
    <div class="input-group mb-3">
      <input type="search" class="form-control bg-light rounded-3"
             placeholder="Reference code" aria-label="Search" aria-describedby="button-search"
             [(ngModel)]="referenceId" (keyup.enter)="viewBooking()">
      <button class="btn btn-outline-success rounded-3 ms-2" type="button" id="button-search" (click)="viewBooking()">
        <i class="pi pi-search"></i>
      </button>
    </div>
    <div class="text-danger small" *ngIf="(referenceId!= '') && (referenceId.length <= 30)">Please enter a valid
      reference code
    </div>
  </div>

  <div class="container pt-md-5" *ngIf="this.data">
    <table class="table table-bordered w-auto mx-auto">
      <thead class="table-secondary text-center">
      <tr>
        <th colspan="2">Tracking Status</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="fw-bold w-50 text-end">Client</td>
        <td>{{ this.data.firstName }} {{ this.data.lastName }}</td>
      </tr>
      <tr>
        <td class="fw-bold text-end">Auto details</td>
        <td>{{ this.data.autoModel }} {{ this.data.autoType }}</td>
      </tr>
      <tr>
        <td class="fw-bold text-end">Repair cost</td>
        <td>{{ this.data.totalPrice | currency:'USD' }}</td>
      </tr>
      <tr>
        <td class="fw-bold text-end">Booking date</td>
        <td>{{ this.data.date | date }}</td>
      </tr>
      <tr>
        <td class="fw-bold text-end">Repair status</td>
        <td>{{ repairStatus[this.data.status] }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

