<div class="bg-light">
  <app-breadcrumb [parentsList]="breadcrumbParentsList" [currentPage]="'Details'">
  </app-breadcrumb>
  <alert></alert>
  <div class="container crumb-container-no-banner">
    <div class="d-flex justify-content-start">
      <a class="justify-content-end" routerLink="../">
        <button class="btn btn-sm btn-outline-dark">
          <span class="d-inline-flex align-items-center">
            <i class="pi align-middle pi-arrow-circle-left me-1"></i>
            Go back
          </span>
        </button>
      </a>
    </div>
    <div class="container card my-2 py-2" *ngIf="this.data">
      <div class="row">
        <h1 class="lead fw-bold text-center">Client Details</h1>
      </div>
      <div class="row">
        <form #clientForm=ngForm>
          <table class="table table-bordered w-75 mx-auto">
            <tbody>
            <tr>
              <td class="fw-bold col-sm-2 text-end">Firstname</td>
              <td *ngIf="!isEdit">{{this.data?.firstName}}</td>
              <td *ngIf="isEdit">
                <input [(ngModel)]="this.data.firstName" name="firstName" type="text" required minlength="3" maxlength="15"
                       #firstName=ngModel [ngClass]="{'is-invalid': this.firstName.invalid}" class="form-control form-control-sm bg-light">
              </td>
            </tr>
            <tr>
              <td class="fw-bold col-sm-2 text-end">Lastname</td>
              <td *ngIf="!isEdit">{{this.data?.lastName}}</td>
              <td *ngIf="isEdit">
                <input [(ngModel)]="this.data.lastName" name="lastName" type="text" required minlength="3" maxlength="15"
                       #lastName=ngModel [ngClass]="{'is-invalid': this.lastName.invalid}" class="form-control form-control-sm bg-light">
              </td>
            </tr>
            <tr>
              <td class="fw-bold col-sm-2 text-end">Email</td>
              <td *ngIf="!isEdit">{{this.data?.email}}</td>
              <td *ngIf="isEdit">
                <input [(ngModel)]="this.data.email" name="email" type="email" required email
                       #email=ngModel [ngClass]="{'is-invalid': this.email.invalid}" class="form-control form-control-sm bg-light">
              </td>
            </tr>
            <tr>
              <td class="fw-bold col-sm-2 text-end">Phone</td>
              <td *ngIf="!isEdit">{{this.data?.phoneNumber}}</td>
              <td *ngIf="isEdit">
                <input [(ngModel)]="this.data.phoneNumber" name="phoneNumber" type="tel" required pattern="^\d{10}$"
                       #phoneNumber=ngModel [ngClass]="{'is-invalid': this.phoneNumber.invalid}" class="form-control form-control-sm bg-light">
              </td>
            </tr>
            <tr>
              <td class="fw-bold col-sm-2 text-end">Address</td>
              <td *ngIf="!isEdit">{{this.data?.address}}</td>
              <td *ngIf="isEdit">
                <input [(ngModel)]="this.data.address" name="address" type="text" required minlength="3" maxlength="100"
                       #address=ngModel [ngClass]="{'is-invalid': this.address.invalid}" class="form-control form-control-sm bg-light">
              </td>
            </tr>
            </tbody>
          </table>
        </form>
      </div>
      <div class="row mx-auto my-2 w-75">
        <div class="d-flex justify-content-end">
          <button *ngIf="!isEdit" class="btn btn-sm btn-success me-2" (click)="enableEdit()">
            Edit Client
          </button>
          <button *ngIf="isEdit" [disabled]="clientForm.invalid" class="btn btn-sm btn-success me-2" (click)="editClient()">Save</button>
          <button *ngIf="isEdit" class="btn btn-sm btn-secondary me-2" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </div>
    <div class="container-fluid p-4 card">
      <div class="row">
        <h1 class="lead fw-bold text-center">Cars Owned By Client</h1>
      </div>
      <div class="row my-2">
        <div class="d-flex justify-content-end">
          <button *ngIf="(!isEdit)" class="btn btn-sm btn-success me-2" (click)="modalService.open(newCarModal)">
            Add Car
          </button>
        </div>
      </div>
      <div class="container-can-scroll">
        <table class="table table-sm table-hover table-bordered">
          <thead class="table-secondary">
          <tr>
            <th></th>
            <th>Car</th>
            <th>Year</th>
            <th>Color</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let car of this.data?.cars; let idx=index">
            <td>{{idx+1}}</td>
            <td>{{car?.carModel}} {{car?.carType}}</td>
            <td style="width:30%">{{car?.year}}</td>
            <td style="width:30%">{{car?.color}}</td>
            <td style="width:10%">
              <a routerLink="./cars/{{car.id}}">
                <button type="button" class="btn btn-sm btn-outline-primary btn-table mx-1">View</button>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <ng-template #newCarModal>
    <div class="modal-header">
      <h5 class="modal-title">Add Car</h5>
      <button type="button" (click)="cancelNewCar()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body modal-can-scroll">
      <form [formGroup]="newCarForm">
        <div class="form-group mb-3">
          <label class="form-label">Car model</label>
          <div class="input-group">
            <input formControlName="carModel" placeholder="Car model" type="text" class="form-control"
                   [ngClass]="{'is-invalid': f.carModel.errors && f.carModel.touched}"  aria-label="Car model">
          </div>
          <div *ngIf="f.carModel.invalid && (f.carModel.dirty || f.carModel.touched)"
               class="text-danger small">
            <div *ngIf="f.carModel.errors?.['required']">
              Car model is required.
            </div>
            <div *ngIf="f.carModel.errors?.['minlength']">
              Car model must be at least 3 characters long.
            </div>
            <div *ngIf="f.carModel.errors?.['maxlength']">
              Car model must be at most 15 characters long.
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">Car type</label>
          <div class="input-group">
            <input formControlName="carType" placeholder="Car type" type="text" class="form-control"
                   [ngClass]="{'is-invalid': f.carType.errors && f.carType.touched}" aria-label="Car type">
          </div>
          <div *ngIf="f.carType.invalid && (f.carType.dirty || f.carType.touched)"
               class="text-danger small">
            <div *ngIf="f.carType.errors?.['required']">
              Car type is required.
            </div>
            <div *ngIf="f.carType.errors?.['minlength']">
              Car type must be at least 3 characters long.
            </div>
            <div *ngIf="f.carType.errors?.['maxlength']">
              Car type must be at most 15 characters long.
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">Year</label>
          <div class="input-group">
            <input formControlName="year" placeholder="Year" type="text" class="form-control"
                   [ngClass]="{'is-invalid': f.year.errors && f.year.touched}" aria-label="Year">
          </div>
          <div *ngIf="f.year.invalid && (f.year.dirty || f.year.touched)"
               class="text-danger small">
            <div *ngIf="f.year.errors?.['required']">
              Year is required.
            </div>
            <div *ngIf="f.year.errors?.['pattern']">
              Year must be a valid year.
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">Color</label>
          <div class="input-group">
            <input formControlName="color" placeholder="Color" type="text" class="form-control"
                   [ngClass]="{'is-invalid': f.color.errors && f.color.touched}" aria-label="Color">
          </div>
          <div *ngIf="f.color.invalid && (f.color.dirty || f.color.touched)"
               class="text-danger small">
            <div *ngIf="f.color.errors?.['required']">
              Car color is required.
            </div>
            <div *ngIf="f.color.errors?.['minlength']">
              Car color must be at least 3 characters long.
            </div>
            <div *ngIf="f.color.errors?.['maxlength']">
              Car color must be at most 15 characters long.
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">Car description</label>
          <div class="input-group">
            <input formControlName="carDescription" placeholder="Car description" type="text" class="form-control" aria-label="Car description">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button [disabled]="newCarForm.invalid" type="submit" (click)="submitNewCar()" class="btn btn-sm btn-success">Add</button>
      <button type="button" (click)="cancelNewCar()" class="btn btn-sm btn-secondary">Cancel</button>
    </div>
  </ng-template>
</div>

