<div class="bg-light">
  <app-breadcrumb [parentsList]="breadcrumbParentsList" [currentPage]="'Details'">
  </app-breadcrumb>
  <alert></alert>
  <div class="container crumb-container-no-banner">
    <div class="d-flex justify-content-start">
      <a class="justify-content-end" routerLink="../../">
        <button class="btn btn-sm btn-outline-dark">
          <span class="d-inline-flex align-items-center">
            <i class="pi align-middle pi-arrow-circle-left me-1"></i>
            Go back
          </span>
        </button>
      </a>
    </div>
    <div class="container card my-2 py-2" *ngIf="this.data">
      <div class="row">
        <h1 class="lead fw-bold text-center">Car Details</h1>
      </div>
      <div class="row">
        <form #editCarForm=ngForm>
          <table class="table table-bordered w-75 mx-auto">
            <tbody>
            <tr>
              <td class="fw-bold col-sm-2 text-end">Model</td>
              <td *ngIf="!isEdit">{{this.data.carModel}}</td>
              <td *ngIf="isEdit">
                <input [(ngModel)]="this.data.carModel" type="text" name="editCarModel" required minlength="3" maxlength="15"
                       #editCarModel=ngModel [ngClass]="{'is-invalid' : editCarModel.invalid}" class="form-control form-control-sm bg-light">
              </td>
            </tr>
            <tr>
              <td class="fw-bold col-sm-2 text-end">Type</td>
              <td *ngIf="!isEdit">{{this.data.carType}}</td>
              <td *ngIf="isEdit">
                <input [(ngModel)]="this.data.carType" type="text" name="editCarType" required minlength="3" maxlength="15"
                       #editCarType=ngModel [ngClass]="{'is-invalid' : editCarType.invalid}" class="form-control form-control-sm bg-light">
              </td>
            </tr>
            <tr>
              <td class="fw-bold col-sm-2 text-end">Year</td>
              <td *ngIf="!isEdit">{{this.data.year}}</td>
              <td *ngIf="isEdit">
                <input [(ngModel)]="this.data.year" #year=ngModel name="year" type="text" required pattern="^(19|20)\d{2}$"
                       [ngClass]="{'is-invalid' : year.invalid }" class="form-control form-control-sm bg-light">
              </td>
            </tr>
            <tr>
              <td class="fw-bold col-sm-2 text-end">Color</td>
              <td *ngIf="!isEdit">{{this.data.color}}</td>
              <td *ngIf="isEdit">
                <input [(ngModel)]="this.data.color" name="color" type="text" required minlength="3" maxlength="15"
                       #color=ngModel [ngClass]="{'is-invalid' : color.invalid}" class="form-control form-control-sm bg-light">
              </td>
            </tr>
            <tr>
              <td class="fw-bold col-sm-2 text-end">Description</td>
              <td *ngIf="!isEdit">{{this.data.carDescription}}</td>
              <td *ngIf="isEdit">
                <input [(ngModel)]="this.data.carDescription" type="text" name="editCarDescription"
                       class="form-control form-control-sm bg-light">
              </td>
            </tr>
            <tr>
              <td class="fw-bold col-sm-2 text-end">Image</td>
              <td *ngIf="!isEdit && (this.data.imageId!=null)" class="text-center"><img [src]="this.imageToShow" alt="carImage" class="w-50 img-thumbnail"></td>
              <td *ngIf="!isEdit && (this.data.imageId==null)" class="text-center">No image</td>
              <td *ngIf="isEdit" class="text-center">
              <form (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="row needs-validation" novalidate>
                  <div class="mb-3">
                    <label for="image" class="form-label">Choose an image:</label>
                    <input type="file" name="image" id="image" (change)="onFileSelected($event)" class="form-control" required>
                    <div class="invalid-feedback">Please choose an image.</div>
                    <button type="submit" class="btn btn-primary my-2">Upload</button>
                  </div>
                </form>
              </td>
            </tr>
            </tbody>
          </table>
        </form>
      </div>
      <div class="row mx-auto my-2 w-75">
        <div class="d-flex justify-content-end">
          <button *ngIf="!isEdit&&!isAddRb" class="btn btn-sm btn-primary me-2" (click)="addNewRb()">
            Add Booking
          </button>
          <button *ngIf="!isEdit" class="btn btn-sm btn-success me-2" (click)="enableEdit()">
            Edit Car
          </button>
          <button [disabled]="editCarForm.invalid" *ngIf="isEdit" class="btn btn-sm btn-success me-2" (click)="submit()">Save</button>
          <button *ngIf="isEdit" class="btn btn-sm btn-secondary me-2" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </div>

    <div *ngIf="isAddRb" class="w-50 mx-auto">
      <div class="container card my-2 py-2">
        <div class="card-title"><h1 class="lead fw-bold text-center">New Repair Booking</h1></div>
      </div>
      <form #newRepairsForm=ngForm>
        <div *ngFor="let repair of newRb.repairs; let idx=index" class="container card my-2 py-2">
          <div class="row">
            <div class="card-title"><h1 class="lead fw-bold text-center">Car repair nr.{{idx+1}}</h1></div>
            <div class="form-group col">
              <label for="repairType{{idx}}">Repair Type</label>
              <input [(ngModel)]="repair.repairType" required minlength="3" maxlength="30" type="text" class="form-control"
                     id="repairType{{idx}}" name="repairType{{idx}}" #repairType=ngModel [ngClass]="{'is-invalid' : repairType.invalid}">
            </div>
            <div class="form-group col">
              <label>Repair Cost</label>
              <input [(ngModel)]="repair.repairCost" min="0" max="99999" required type="number" class="form-control"
                     name="repairCost{{idx}}" #repairCost=ngModel [ngClass]="{'is-invalid' : repairCost.invalid}">
            </div>
            <div class="form-group">
              <label>Repair Details</label>
              <textarea [(ngModel)]="repair.repairDetails" minlength="3" maxlength="200" required type="text" rows="2"
                        class="form-control" name="repairDetails{{idx}}" #repairDetails=ngModel
                        [ngClass]="{'is-invalid' : repairDetails.invalid}"></textarea>
            </div>
          </div>
          <div *ngIf="lastOfList(idx)" class="d-flex justify-content-end mt-2">
            <button [disabled]="newRepairsForm.invalid" class="btn btn-sm btn-success me-2" (click)="submitNewRB()">Save</button>
            <button  class="btn btn-sm btn-primary me-2" (click)="addOther()">Add Repair</button>
            <button  class="btn btn-sm btn-secondary me-2" (click)="cancelNewRB()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
