<app-banner
    [title]="'Our Repair Bookings'"
    [subTitle]="'Auto Mechanic Repair Booking Listed'"
></app-banner>
<app-background [hasBanner]="true">
    <app-breadcrumb [currentPage]="'Bookings'"></app-breadcrumb>
    <div class="container crumb-container">
        <div class="container card my-2 py-2" *ngIf="!this.bookings">
            <div class="row">
                <h1 class="lead text-center">Bookings not found</h1>
            </div>
        </div>
        <!--  Booking list  -->
        <app-booking-list
            *ngIf="this.bookings"
            (deleteBooking)="onDeleteBooking($event)"
            (switchToPage)="onSwitchToPage($event)"
            [bookings]="this.bookings"
        />
    </div>
    <ng-template #confirmModal>
        <!--  Delete booking confirmation modal -->
        <app-delete-booking-modal
            (deleteBookingConfirmed)="onDeleteBookingConfirmed($event)"
        />
    </ng-template>
</app-background>
<alert></alert>
