<div class="container-fluid default-container vertical-center bg-light">
    <div class="row">
        <h1 class="display-5 text-center">Your Car Mechanic</h1>
    </div>
    <div class="row pb-5">
        <h1 class="lead text-center">Repair status tracking for your car</h1>
    </div>

    <div class="row col-sm-4 mx-auto active-dark">
        <div class="input-group mb-3">
            <input type="search" class="form-control bg-light rounded-3" placeholder="Search..." aria-label="Search" aria-describedby="button-search" 
            [(ngModel)]="searchTerm" (keyup.enter)="search()">
            <button class="btn rounded-3" type="button" id="button-search" (click)="search()">
                <i class="pi pi-search"></i>
            </button>
        </div>
    </div>

    <div class="container container-can-scroll pt-md-5" *ngIf="this.result">
        <div class="row">
            <h1 class="lead text-center"> Tracking Status </h1>
        </div>
        <table class="table table-bordered w-auto mx-auto">
            <tbody>
                <tr>
                    <td class="fw-bold col-sm-2 text-end">Name:</td>
                    <td>{{this.data.client?.firstName}}</td>
                </tr>
                <tr>
                    <td class="fw-bold col-sm-2 text-end">Lastname:</td>
                    <td>{{this.data.client?.lastName}}</td>
                </tr>
                <tr>
                    <td class="fw-bold col-sm-2 text-end">Car Type:</td>
                    <td>{{this.data.car?.carType}}</td>
                </tr>
                <tr>
                    <td class="fw-bold col-sm-2 text-end">Car Model:</td>
                    <td>{{this.data.car?.carModel}}</td>
                </tr>
                <tr>
                    <td class="fw-bold col-sm-2 text-end">Repair Cost:</td>
                    <td>{{this.data.totalPrice | currency:'USD'}}</td>
                </tr>
                <tr>
                    <td class="fw-bold col-sm-2 text-end">Repair date:</td>
                    <td>{{this.data.date}}</td>
                </tr>
                <tr>
                    <td class="fw-bold col-sm-2 text-end">Repair Status:</td>
                    <td>{{this.data.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>