<div class="banner-bg py-2">
  <h1 class="display-5 fw-bold text-center text-white my-3">Your Car Mechanic</h1>
  <h1 class="lead fw-bold text-white text-center">Repair status tracking for your car</h1>
</div>
<div class="bg-light border-5 border-top border-dark">
  <alert></alert>
  <div class="container-fluid h-50 default-container vertical-center">
    <div class="row col-sm-4 mx-auto active-dark">
      <h1 class="lead fw-bold text-center mt-2 pb-4">View booking status</h1>
      <div class="input-group mb-3">
        <input type="search" class="form-control bg-light rounded-3"
               placeholder="Reference code" aria-label="Search" aria-describedby="button-search"
               [(ngModel)]="refID" (keyup.enter)="viewBooking()">
        <button class="btn btn-outline-success rounded-3 ms-2" type="button" id="button-search" (click)="viewBooking()">
          <i class="pi pi-search"></i>
        </button>
      </div>
      <div class="text-danger small" *ngIf="refIDWarning">Please enter a valid reference code</div>
    </div>

    <div class="container pt-md-5" *ngIf="this.data">
      <table class="table table-bordered w-auto mx-auto">
        <thead class="table-secondary text-center">
         <tr>
           <th colspan="2">Tracking Status</th>
         </tr>
        </thead>
        <tbody>
        <tr>
          <td class="fw-bold w-50 text-end">Client</td>
          <td>{{this.data.client?.firstName}} {{this.data.client?.lastName}}</td>
        </tr>
        <tr>
          <td class="fw-bold text-end">Car details</td>
          <td>{{this.data.car?.carModel}} {{this.data.car?.carType}}</td>
        </tr>
        <tr>
          <td class="fw-bold text-end">Repair cost</td>
          <td>{{this.data.totalPrice | currency:'USD'}}</td>
        </tr>
        <tr>
          <td class="fw-bold text-end">Booking date</td>
          <td>{{this.data.date | date}}</td>
        </tr>
        <tr>
          <td class="fw-bold text-end">Repair status</td>
          <td>{{repairStatus[this.data.status]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
