/* You can add global styles to this file, and also import other style files */
.btn-table{
  width: 80px !important;
}

.default-container{
  min-height: 86vh;
}

.crumb-bar{
  min-height: 8vh;
}

.crumb-container{
  min-height: 78vh;
}

.container-can-scroll{
  overflow-y: scroll;
  height: 50vh;
}
