/* You can add global styles to this file, and also import other style files */
.btn-table{
    width: 80px !important;
}

.default-container{
    height: 86vh;
}

.container-can-scroll{
    overflow-y: scroll;
    height: 60vh;
}