<div class="container default-container">
    <div class="row">
        <h1 class="display-5 text-center my-4">Admin Dashboard</h1>
    </div>
    <div class="row">
        <h1 class="lead text-center">Car Mechanic Booking Statistics</h1>
    </div>
    <div class="col-xs-12" style="height:50px;"></div>
    <div class="row m-3 h-25">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4>
                        Total Bookings Active: 0
                    </h4>
                    <a routerLink="/repair-booking">View Bookings</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4>
                        Total Clients: 0
                    </h4>
                    <a routerLink="/client">View Clients</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-3 h-25">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4>
                        Total Cars: 0
                    </h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4>
                        Total Income: 0
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
